^.*\.Rproj$
^\.Rproj\.user$
^_pkgdown\.yml$
^docs$
^pkgdown$
^LICENSE\.md$
^\.gitlab-ci\.yml$
^\.pre-commit-config\.yaml$
^.gitleaks.toml$
^\.github$
^CODE_OF_CONDUCT\.md$
^CITATION\.cff$
^dev$
^\Rlib$
^Rlib$
^Rlib/*
Rlib$
Rlib
^Rlib/
^\Rlib/
air.toml
^\.positai$
^\.claude$